html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.InnerContainer {
  max-width: 800px;
  text-align: left;
}

a {
  color: #0086e2;
}

a:visited {
  color: #0086e2;
}

.notices {
  font-size: 50%;
}
