.Cell {
  height: 60px;
  width: 60px;
  border: 1px #cccccc solid;
  background-color: #ffffff;
  color: #000000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  touch-action: none;
}

.isSelected {
  background-color: yellow;
}

.borderLeft {
  border-left: 1px #000000 solid !important;
}

.borderRight {
  border-right: 1px #000000 solid !important;
}

.borderTop {
  border-top: 1px #000000 solid !important;
}

.borderBottom {
  border-bottom: 1px #000000 solid !important;
}
